# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Documents\Cours\Année 2020-21\Sécurité\tp-broken-auth\tp-broken-authentication\sitesPhp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
